* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: black;
  line-height: 1.5;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  background-color: whitesmoke;
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
.toppic {
  width: 41%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  button{
    background-color: red;
    padding:10px;
    color:white;
    opacity: 0.8;
    &:hover{
      opacity: 1.2;
    }
  }
}
@media (max-width:768px) {
  .toppic {
    width: 80%;
  }
}
@import url("./components/Header/header.scss");
@import url("./components/MainPage/auth/auth.scss");
@import url("./components/MainPage/topics/topics.scss");
@import url("./components/MainPage/topics/topics.scss");
